<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partenaires</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../All.css">
</head>
<body class="bg-gray-100">
 
        <div class="w-3/4 p-6">
            <div class="p-4 mb-4">
                <button class="bg-[#D0D5DD] border-2 border-blue-500 text-[#344054] p-1 px-3 text-sm rounded-lg">
                    <img src="../Images/Filter.png" alt="Filtrer" class="inline-block mr-1 w-4 h-2"> filtrer par
                </button>
                <button class="bg-blue-500 border-2 border-blue-500 text-white p-1 px-3 text-sm rounded-lg">
                    <img src="../Images/Add.png" alt="Ajouter" class="inline-block mr-1 w-4 h-4"> Ajouter un partenaire
                </button>
            </div>

            <div class="p-4">
                <table class="min-w-full border-collapse">
                    <thead>
                        <tr class="bg-gray-200 rounded-2xl">
                            <td class="px-4 py-2 text-left text-gray-500">Nom de l'établissement</td>
                            <td class="px-4 py-2 text-left text-gray-500">Catégorie <img src="../Images/Tri.png" alt="Trier" class="inline-block ml-2 w-4 h-4"></td>
                            <td class="px-4 py-2 text-left text-gray-500">Ville <img src="../Images/Tri.png" alt="Trier" class="inline-block ml-2 w-4 h-4"></td>
                            <td class="px-4 py-2 text-left text-gray-500">Email</td>
                            <td class="px-4 py-2 text-left text-gray-500">Téléphone</td>
                            <td class="px-4 py-2 text-left text-gray-500">Gestion</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white">
                            <td class="px-4 py-2">Exemple Nom</td>
                            <td class="px-4 py-2">Exemple Catégorie</td>
                            <td class="px-4 py-2">Exemple Ville</td>
                            <td class="px-4 py-2">exemple@email.com</td>
                            <td class="px-4 py-2">123456789</td>
                            <td class="px-4 py-2 flex space-x-2">
                                <img src="../Images/Trash.png" alt="Supprimer" class=" cursor-pointer">
                                <img src="../Images/Modify.png" alt="Modifier" class="w-5 h-5 mt-2 cursor-pointer">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
