<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../All.css">
</head>
<body >
    <div class="bg-gray-600 w-64 min-h-screen p-4">
        <img src="../Images/Logo.png" alt="logo" class="w-28 my-5 mx-auto">
        <h2 class="text-white font-bold text-center my-5 text-2xl">Yad El Awn</h2>
 
    <ul class="space-y-4">
        
        <li class="flex items-center space-x-3 hover:bg-gray-700">
            <a href="/dashboard" class="flex items-center space-x-3  p-2 rounded" id="dashboard-link">
                <img src="../Images/Dashboard.png" alt="Dashboard" class="w-5 h-5">
                <span class="text-white text-sm">Dashboard</span> 
            </a>
        </li>

        <li class="flex items-center space-x-3 hover:bg-gray-700">
            <a href="/partenaires" class="flex items-center space-x-3  p-2 rounded">
                <img src="../Images/Personne.png" alt="Personne" class="w-5 h-4">
                <span class="text-white text-sm">Gestion des partenaires</span>
            </a>
        </li>

        <li class="flex items-center space-x-3 hover:bg-gray-700">
            <a href="/offres" class="flex items-center space-x-3  p-2 rounded">
                <img src="../Images/Offres.png" alt="Offre" class="w-5 h-5">
                <span class="text-white text-sm">Gestion des Offres</span>
            </a>
        </li>

        <li class="flex items-center space-x-3 hover:bg-gray-700">
            <a href="/membres" class="flex items-center space-x-3  p-2 rounded">
                <img src="../Images/Personne.png" alt="Personne" class="w-4 h-3">
                <span class="text-white text-sm">Gestion des membres</span>
            </a>
        </li>

        <li class="flex items-center space-x-3 hover:bg-gray-700">
            <a href="/dons" class="flex items-center space-x-3  p-2 rounded">
                <img src="../Images/Dons.png" alt="Don" class="w-4 h-5">
                <span class="text-white text-sm">Gestion des dons</span>
            </a>
        </li>

        <li class="flex items-center space-x-3 hover:bg-gray-700">
            <a href="/benevoles" class="flex items-center space-x-3  p-2 rounded">
                <img src="../Images/Personne.png" alt="Personne" class="w-5 h-4">
                <span class="text-white text-sm">Gestion des bénévoles</span>
            </a>
        </li>

        <li class="flex items-center space-x-3 hover:bg-gray-700">
            <a href="/parametres" class="flex items-center space-x-3  p-2 rounded">
                <img src="../Images/Parametres.png" alt="Paramètres" class="w-5 h-4">
                <span class="text-white text-sm">Paramètres</span>
            </a>
        </li>

    </ul>
   </div>
</body>
</html>
